.aws-sam/build/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Transform: AWS::Serverless-2016-10-31
Description: Sample template to deliver events from Amazon EventBridge to CloudWatch
  Logs
Resources:
  StateMachineLogs:
    Type: AWS::Logs::LogGroup
  StateMachineForWeatherData:
    Type: AWS::Serverless::StateMachine
    Properties:
      Logging:
        Level: ERROR
        Destinations:
        - CloudWatchLogsLogGroup:
            LogGroupArn:
              Fn::GetAtt:
              - StateMachineLogs
              - Arn
      Policies:
      - Statement:
        - Effect: Allow
          Action:
          - logs:*
          Resource: '*'
      Definition:
        StartAt: What Happened?
        States:
          What Happened?:
            Type: Choice
            Choices:
            - Variable: $.state
              StringEquals: running
              Next: It's Running
            - Variable: $.state
              StringEquals: stopped
              Next: It's Stopped
            - Variable: $.state
              StringEquals: terminated
              Next: It's Gone
          It's Running:
            Type: Pass
            End: true
          It's Stopped:
            Type: Pass
            End: true
          It's Gone:
            Type: Pass
            End: true
      Events:
        StateChange:
          Type: EventBridgeRule
          Properties:
            EventBusName: default
            InputPath: $.detail
            Pattern:
              source:
              - aws.lambda
  LogsRule:
    Type: AWS::Events::Rule
    Properties:
      EventBusName: default
      EventPattern:
        source:
        - demo.event
        account:
        - Ref: AWS::AccountId
      Targets:
      - Arn:
          Fn::GetAtt:
          - LogGroupForEvents
          - Arn
        Id: LogTarget
  LogGroupForEvents:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: /aws/events/state-machine-test
  LogGroupForEventsPolicy:
    Type: AWS::Logs::ResourcePolicy
    Properties:
      PolicyName: EventBridgeToCWLogsPolicy
      PolicyDocument:
        Fn::Sub: "{\n  \"Version\": \"2012-10-17\",\n  \"Statement\": [\n    {\n \
          \     \"Sid\": \"EventBridgetoCWLogsCreateLogStreamPolicy\",\n      \"Effect\"\
          : \"Allow\",\n      \"Principal\": {\n        \"Service\": [\n         \
          \ \"events.amazonaws.com\"\n        ]\n      },\n      \"Action\": [\n \
          \       \"logs:CreateLogStream\"\n      ],\n      \"Resource\": [\n    \
          \    \"${LogGroupForEvents.Arn}\"\n      ]\n    },\n    {\n      \"Sid\"\
          : \"EventBridgetoCWLogsPutLogEventsPolicy\",\n      \"Effect\": \"Allow\"\
          ,\n      \"Principal\": {\n        \"Service\": [\n          \"events.amazonaws.com\"\
          \n        ]\n      },\n      \"Action\": [\n        \"logs:PutLogEvents\"\
          \n      ],\n      \"Resource\": [\n        \"${LogGroupForEvents.Arn}\"\n\
          \      ],\n      \"Condition\": {\n        \"ArnEquals\": {\"AWS:SourceArn\"\
          : \"${LogsRule.Arn}\"}\n      }\n    }\n  ]\n}"
